<p>
  user-page works!
</p>
<br>
<table>
  <tr>
    <th>name</th>
    <th>surname</th>
    <th>email</th>
  </tr>
  <tr *ngFor="let user of users$ | async">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
  </tr>
</table>

